/* General Layout */
.quiz-container {
  max-width: 100%;
  margin: auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.quiz-item {
  margin-bottom: 20px;
}

.quiz-item h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.mat-list-item {
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}

.mat-list-item:hover {
  background-color: #f0f0f0;
}

.highlight {
  background-color: #ffeb3b;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);;
}

.correct {
  background-color: #c8e6c9;
}

.incorrect {
  background-color: #ffcdd2;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.custom-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.custom-button:hover {
  background-color: #0056b3;
}

.custom-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
